bin/
build/
metamodel/
lib/
target/
.settings/
.metadata/
.vagrant/
.classpath
.project
.DS_Store
.faces-config.xml.jsfdia
.tern-project
.idea
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
fiergs-sol.sublime-workspace
Thumbs.db
.$*
~$*
*.iml
*.rpm
**/.gitignore